/* background */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "serif";
    overflow-x: hidden;
}

.main-content{
    padding: 100px;
}

/* header title */
.header-title{
    font-family: "Anton SC", system-ui;
    font-weight: 400;
    font-style: normal;
}


/* all things button */

.add-resume-btn{
    display: block;
    margin: auto;
    padding: 15px;
    border: none;
    width: 200px;
    background: #0d7685; 
    font-family:"Poppins";
    text-transform: uppercase;
    font-weight: bolder;
}

.add-resume-btn a{
    color: white;
}

.add-resume-btn a:hover{
    color: black;
}

.btn-primary{
    background: #0d7685!important;
}

/* all things banner + hyperlinks */

a{
    text-decoration: none;
}

.banner a{
    color: black;
}

.banner, a:hover{
    color: #0d7685;
    

}

.home-link, .project-link, .about-link{
    font-family: "Poppins";
}


.home-link:hover{
    text-decoration: underline;
}

.project-link:hover{
    text-decoration: underline;
}

.about-link:hover{
    text-decoration: underline;
}


/* about me */


.aboutme{
    font-family: "Poppins";
    text-transform: uppercase;
    font-weight: bolder;
}

.aboutme-p{
    font-family: "Poppins";
    list-style: none;
}

/* size adjustments */
@media(max-width:760px){
    .home-link, .project-link,.about-link{
        font-size: 15px;

    }

    .algorithm-img{
        display: none;

    }

    .greeting-header,.greeting-body,.sub-greeting,.sub-greeting-body{
        text-align: center;
    }

    .main-content .col .card{
        flex: 100%;
    }
}